<% include header %>

<!-- start of main -->
<div id="tooplate_main">
    
    <!-- start of content -->
    <div id="tooplate_content">
        <h2>Welcome to Project Management System</h2>
        <h1>About Page</h1>
    </div>
    <!-- end of content -->
    

    <!-- start of sidebar -->
        <div id="tooplate_sidebar">
        
            <h2>Social Links</h2>
            
            <ul class="tooplate_list">
            <li><a href="#">@Facebook</a></li>
            <li><a href="#">@Twitter</a></li>
            <li><a href="#">@Instagram</a></li>
            <li><a href="#">@Gmail</a></li>
            </ul>
        </div>
 		<div class="cleaner"></div>
         <!-- end of sidebar -->

</div>
<div class="cleaner"></div>  
<!-- end of main -->

<% include footer %>
