<% include adminheader %>

<!-- start of main -->
<div id="tooplate_main">
    
        <h2>Welcome to Project Management System</h2>
        <h1>Admin Panel</h1>

</div>
<div class="cleaner"></div>  
<!-- end of main -->

<% include footer %>
