<% include userheader %>

<!-- start of main -->
<div id="tooplate_main">
    
        <h2>Transaction Failed</h2>
        <a href="/users/funds">Try again , to raise funds....</a>

</div>
<div class="cleaner"></div>  
<!-- end of main -->

<% include footer %>
